body
  div.main_container
    h1
      font-family:arial;
      color:#<?php echo $h1_color; ?>;
    h2
      font-family:arial;
      color:#<?php echo $h2_color; ?>;
    h3
      color: blue;  
div.inner_container
  width:10px;
  height:30px;
  color:blue;